---
layout: default
---

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<style>
i{font-size:1rem;}
</style>

<h1>{{ page.display_name }}</h1>
<h2>Position: {{ page.position }}</h2>

{{ content }}

<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.name %} {% for
  post in filtered_posts %}
  <li>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<h2>Follow {{page.display_name}} on </h2><a href="{{page.instaurl}}"><i class="fab fa-instagram"></i></a>

<h2>Follow {{page.display_name}}'s code on </h2><a href="{{page.giturl}}"><i class="fab fa-github"></i></a>
