<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

      <div id="preloader">
           <strong class="loading">Loading...</strong>
      </div>

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <script>
    var overlay = document.getElementById("preloader");
window.addEventListener('load', function(){
overlay.style.display = 'none';
})
</script>
    {% include analytics.html %}
  </body>
</html>
