---
layout: default
---
<h1 style="font-size:1.2rem;">$ {{page.title}}<h1>
  <p>{% assign author = site.authors | where: 'name', page.author | first %}{% if author %}
Written by : <a href="{{ author.url }}">{{ author.display_name }}</a>{% endif %}
</p>
<p>&nbsp;</p>
{% if page.postimg %}
<img src='{{page.postimg}}' style="max-width: 100%;max-height: 100%;" >
{% endif %}
<p>&nbsp;</p>
{{ content }}
<p>&nbsp;</p>
Artcile date: {{page.date}}
<p>&nbsp;</p>
{% if page.author %}Written by: {{author.display_name}}{% endif %}

<div id="disqus_thread"></div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = {{page.url}};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{page.title}}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://electron-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
